html, body {
    height: 100%;
    margin: 0;
}

#root {
    height: 100%;
}
.App {
    height: 100%;
}

.App > .columns {
    height: 100%;
    display: flex;
}


.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 400ms ease-in;
}


