.markerItem {
    margin: 0.25rem 0;
}


#panelContainer {
    position: absolute;
    top: 0; 
    left: 80%; 
    width: 20%;
    height: 100%;
    padding-top: 2rem !important;
    z-index: 10;


    background-color: rgba(255,255,255, 0.8);
    padding: 1rem;

    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
}

#panelTriggerContainer {
    position: absolute;
    top: 0; 
    right: 0;
    z-index: 1000;
    cursor: pointer;
    
}

#panelTrigger {
    box-sizing: border-box;
    border: 2px solid rgba(0,0,0,0);
    
    margin-right: 10px !important;  
    margin-top: 10px !important;
}

#panelTrigger > i {
    color: #209cee;
    font-size: 30px;
}

#panelTrigger > i:hover {
    
    color: #1496ed;
    transition: color 0.5s;
}


.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }