#user-info-container {
    position: absolute;
    top: 0; 
    right: 0; 
    /* width: 20%; */
    z-index: 10;

    color: rgb(92, 92, 92);
    font-style: italic;
    background-color: rgba(255,255,255,0.75);

    border-bottom-left-radius: 1em;

    /* border-color: #00d1b2; */
    border-color: white;
    border-width: 1px;
    border-bottom-style: solid;
    border-left-style: solid;
    box-shadow: 0 2px 3px #00d1b227 !important;

    display: flex;
    align-content: right;
    overflow:hidden;
}


#user-info-container  > div {
    flex: 1;
    cursor: pointer;

    text-align: right;
    padding: 0 1rem;

}


#user-info-name {
    max-width: 50%;
    overflow: hidden;
}
